#btn-register {
    cursor: pointer;
    color: #595959;
}

#btn-register:hover {
    color: #78cbf2;
}

.streak-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
}

.streak {
    font-size: 20px;
    transition: all ease-in-out 0.1s;
}

.increase {
    transform: scale(1.11);
}

.bxs-hot {
    font-size: 30px;
}

.bx-info-circle, .bx-trash-alt {
    cursor: pointer;
}

.search-holder {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.add-new-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 10px;
    background: #dadbdb;
    cursor: pointer;
}

.menu {
    max-height: 495px;
    overflow-y: auto;
}

.menu .list ul li {
    display: flex;
}

.menu .list ul li div a i {
    margin: 0 5px;
}

.too-late, .error-message, .priority {
    color: #ff4646;
}

.list-by-time-unit {
    margin-bottom: 12px;
}